<div class="calculator">
  <div class="calculatorOutput" *ngIf="!stringToEvaluate">0</div>
    <div class="calculatorOutput" *ngIf="stringToEvaluate">{{stringToEvaluate}}</div>

    <div class="calculatorAlls">
      <button class="calculatorAll btnLight" (click)="takeInput('+/-')">+/-</button>
      <button class="calculatorAll btnLight" (click)="takeInput('%')">&percnt;</button>
      <button class="calculatorAll btnLight" (click)="resetInput()">AC</button>
      <button class="calculatorAll operator" (click)="takeInput('+')">+</button>

      <button class="calculatorAll" (click)="takeInput('7')">7</button>
      <button class="calculatorAll" (click)="takeInput('8')">8</button>
      <button class="calculatorAll" (click)="takeInput('9')">9</button>
      <button class="calculatorAll operator" (click)="takeInput('-')">-</button>

      <button class="calculatorAll" (click)="takeInput('4')">4</button>
      <button class="calculatorAll" (click)="takeInput('5')">5</button>
      <button class="calculatorAll" (click)="takeInput('6')">6</button>
      <button class="calculatorAll operator" (click)="takeInput('*')">&times;</button>

      <button class="calculatorAll" (click)="takeInput('1')">1</button>
      <button class="calculatorAll" (click)="takeInput('2')">2</button>
      <button class="calculatorAll" (click)="takeInput('3')">3</button>
      <button class="calculatorAll operator" (click)="takeInput('/')">&divide;</button>

      <button class="calculatorAll space" (click)="takeInput('0')">0</button>
      <button class="calculatorAll" (click)="takeInput('.')">.</button>
      <button class="calculatorAll operator" (click)="evalResult()">=</button>
    </div>

</div>
